/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.inforow
{
  border:5px solid #42a5f5;
   margin-top:10px;
}
.inforow2 {
  border:2.5px solid #000000;
   margin-bottom:1px;
}

#index-banner {
    background-color: #1de9c3;
}
#index-banner2 {
    background-color: #84fd84;
}
