/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 */

html {
  overflow-x: hidden;
}

img.responsive-img {
  max-width: 20%;
}

.amaranth {
  font-family: 'Amaranth', serif;
}

.c-amaranth {
  font-family: 'Amaranth', cursive;
}

.genphoto {
  margin-top: 15vh;
  margin-right: 5vw;
  width: 300px;
  height: 400px;
}

.genimg {
  margin-left: 25vw;
  margin-top: 10vh;
  margin-bottom: 5vh;
  width: 300px;
  height: 400px;
}

.samesize {
  width: 300px;
  height: 400px;
}

.left {
  margin-left: 30px;
}

.right {
  margin-right: 30px;
}

.spacer {
  margin: 5vh;
}

.on-top {
  position: fixed;
  z-index: 999;
}

@media (max-width: 768px) {
  .img-responsive {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

.inforow {
  margin-top: 10px;
}

.inforow2 {
  border: 3px solid #000000;
  margin-bottom: 1px;
}

/* Hide on Mobile*/
.mobile-hide {
  display: inline;
}

/* Smartphone Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {
  .mobile-hide {
    display: none;
  }
}

/* Hide on Desktop */
.mobile-show {
  display: none;
}

/* Smartphone Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {
  .mobile-show {
    display: inline;
  }
}

.custom-navbar {
  color: #FFDF00;
}

.resp-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.resp-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.transp-background {
  mix-blend-mode: multiply;
  width: 25vw;
  height: 32.5vh;
}

.mobile-transp-background {
  mix-blend-mode: multiply;
  width: 75vw;
  height: 30vh;
}

#index-banner {
  background: green fixed;
}

#index-banner2 {
  background-color: #84fd84;
}

#content {
  z-index: 999;
}
