RewriteEngine on
ErrorDocument 400 /home/hssproje/public_html/errors/400.php
ErrorDocument 401 /home/hssproje/public_html/errors/error.php
ErrorDocument 403 /home/hssproje/public_html/errors/errors.php
ErrorDocument 404 /home/hssproje/public_html/errors/404.php
ErrorDocument 500 /home/hssproje/public_html/errors/500.php
